!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}/
    %title Blomme
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          %a.navbar-brand{href: '#'} Does Brandon Know?
        %div
          %ul.nav.navbar-nav.navbar-right
            %li
              %a.dropdown-toggle{'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', href: '#', role: 'button'}
                %span.glyphicon.glyphicon-menu-hamburger{'aria-hidden' => 'true'}
              %ul.dropdown-menu
                %li
                  %a{href: '#'} Profile
                %li
                  %a{href: '#'} Log Out
                %li.divider{role: 'separator'}
                %li
                  %a{href: '#'} About

    = yield
